* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  list-style: none;
  text-decoration: none;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 70px;
  background-color: burlywood;
}
.navright ul {
  display: flex;
  gap: 15px;
}
.navright ul a {
  color: brown;
  transition: 0.3s;
}
.navright ul a:hover {
  border-bottom: 2px solid brown;
  border-radius: 4px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 0;
}

form input {
  width: 350px;
}

.student-list {
  display: flex;
  flex-wrap: wrap;
}
.student-card-list {
  border: 6px double brown;
  border-radius: 15px;
  margin: 15px;
  padding: 15px;
  position: relative;
}
.btn {
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: crosshair;
}
