.app {
  text-align: center;
}
.student-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.student-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
