* {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: whitesmoke;
}

.App {
  text-align: center;
  font-family: "Architects Daughter", cursive;
}
.header {
  display: flex;
  justify-content: space-between;
}
.navbar-left {
  display: flex;
  align-items: center;
}
.navbar-left img {
  width: 130px;
}
.navbar-right {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 30px;
}
.search {
  height: 25px;
  width: 200px;
}
.navbar-right {
  display: flex;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-menu {
  display: none;
  position: absolute;
}
.dropdown-menu span {
  display: block;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.character-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.character-card {
  border: 3px solid burlywood;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.profile-image {
  width: 350px;
  border-radius: 10px;
}
