/* Varsayılan renk stilleri */
:root {
  --bg-color: whitesmoke;
  --text-color: black;
}

/* Dark mode için değiştirilmiş stiller */
.dark-mode {
  --bg-color: #333;
  --text-color: white;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Architects Daughter", cursive;
}

.App {
  text-align: center;
}
.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
}
.navbar-left {
  display: flex;
  align-items: center;
}
.navbar-left img {
  width: 130px;
}
.navbar-right {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 30px;
}
.search {
  height: 25px;
  width: 200px;
  border-radius: 10px;
  padding: 3px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.8) 0px 8px 24px;
}
.navbar-right {
  display: flex;
}
.dropdown {
  position: relative;
  display: inline-block;
  width: 120px;
}
.dropdown-menu {
  display: none;
  position: absolute;
  width: 120px;
  text-align: left;
  background-color: var(--bg-color);
}
.dropdown-menu span {
  display: block;
  color: var(--text-color);
}
.dropdown:hover .dropdown-menu {
  display: block;
  cursor: pointer;
}
.dl-btn {
  padding: 5px;
  border-radius: 10px;
  width: 60px;
}
.reset-btn {
  border: none;
  font-size: 15px;
  box-shadow: rgba(50, 50, 93, 0.1) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.1) 0px 18px 36px -18px inset;
  padding: 6px;
  border-radius: 10px;
}
.counter {
  padding-top: 110px;
}
.character-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
}
.character-card {
  border: 3px solid burlywood;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.profile-image {
  width: 350px;
  border-radius: 10px;
}
.back-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  height: 40px;
  width: 40px;
  font-size: 50px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 50%;
}
